<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347713089189-hs66735ao76gm9ljkh5ipa4803v2fsfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347713089189-hs66735ao76gm9ljkh5ipa4803v2fsfd</string>
	<key>API_KEY</key>
	<string>AIzaSyB236Cqepp-VM5Ao5faV2nztxfHL7jIZsA</string>
	<key>GCM_SENDER_ID</key>
	<string>347713089189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sk.kramar.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ios13</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ios13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347713089189:ios:b50328ab7cf89e015f674c</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-ios13.firebaseio.com</string>
</dict>
</plist>